doctype html
html
  //- - const baseUrl = 'https://psyhedeliq.github.io/quick-blog/';
  - const baseUrl = 'http://localhost:3000/';


  block config
  head
    title=title
    meta(name="description", content=description)
    link(rel="stylesheet", href=`${baseUrl}/style.css`)
    //- link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
  body
    include ../welcome/welcome
    .container
      block content
      include ../menu/menu
      include ../footer/footer