extends _component/layout/base
block config
  -
    const title = 'About Quick Blog';
    const description = 'Quick Blog is one of the quickest and fastest tool for writing blogs in the world.';
block content
  h1=title
  p=description
  