extends _component/layout/base
block config
  -
    const title = 'Contact Quick Blog';
    const description = 'Contact me, the creator, Cornel Cristian Filip.';
block content
  h1=title
  p=description